@media (max-width: 600px) {
    body {
        width: 100%;
    }
    header nav ul li {
        display: block;
        text-align: center;
        margin: .5em ;
        padding: 0 2em;
      }
      header nav {
        flex-direction: column;
      }
    .team-description-wrapper,
    .about-us {
    width: 100%;
    }
    .team-description ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0 1rem;
        justify-content: space-around;
    }
    
    .choose-us {
        display: flex;
        justify-content: center;
    }
    .choose-us ul {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .blog-news ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    
}