@media (max-width: 468px) {

    .div-header {
        display: none;
    }
    .logo-center {
         width: 30%;   
    }
    .options {
        flex-direction:column
    }

    .options article {
        width: 100%;
        text-align: center;
    }
    .gallery {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1.2rem;
    }
    .blog-title {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .blog-title h4 span {
        display: none;
    }
    .blog-title h4 {
        width: 100%;
        text-align: center;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding: 2rem 0;
        font-size: 1.8rem;
    }
    .blog-title a {
        display: none;
    }
    .blog article img {
        display: none;
    }
    #about-blog {
        width: 95%;
    }
    .magazine-title h4 {
        font-size: 26px;
    
    }
    .magazine-title a {
        display: none;
    }
    .magazine-title {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .magazine article {
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    #magazine-img {
        width: 70%;
        justify-content: center;
        border: 0px;
    }
    .magazine-info img {
        width: 100%;
    }
    .magazine-info h3 {
        text-align: center;
        margin-top: 1rem;
    }
    .magazine-info p {
        margin-top: 1rem;
        text-align: center;
    }
    .magazine-info button {
        display: block;
        margin: 1rem auto ;
    }   
    .magazine-info {
        margin-left: 0px;
    } 
    footer {
        flex-direction: column;
        text-align: center;
    }
    footer .icons {
        flex-direction: column;
        display: flex;
    }
}